/* styles.css */

/* Reset de márgenes y padding para todo el documento */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general para el cuerpo */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Estilo para el encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Estilo para la navegación */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilo para las secciones */
section {
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 10px;
}

section p {
    color: #666;
    font-size: 1.1em;
    line-height: 1.6;
}

/* Estilo para el formulario de contacto */
#formulario-reserva {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

#formulario-reserva label {
    
    display: block;
    margin-bottom: 10px;
    margin-left: 15px;
}

#formulario-reserva input[type="text"],
#formulario-reserva input[type="email"],
#formulario-reserva input[type="date"],
#formulario-reserva select,
#formulario-reserva textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

#formulario-reserva textarea {
    height: 100px;
    resize: vertical;
}

#formulario-reserva input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.1em;
    border-radius: 4px;
}

#formulario-reserva input[type="submit"]:hover {
    background-color: #555;
}




/* Estilo para el pie de página */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
